<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Kalin's Gallery</title>
</head>
<body>
  {{{body}}}
</body>
</html>