<div id="header">
  <a href="/gallery">
     <img id="honua" src="/static/Honua.svg">
  </a>
  <a href="/gallery/new">
    <img id="new-btn" src="/static/Post.svg">
  </a>

  {{#if user}}
    <div>
      <form action="/logout" method="get">
        <button type="submit">Logout</button>
      </form>
    </div>
  {{/if}}

</div>

<div id="container">
  {{#each gallery}}
    <br>
      <a href="/gallery/{{id}}">
        <img class="image" src="{{link}}" type="submit">
      </a>
      <div class="info">
        <p class="by">{{author}}</p>
        <p class="descrip">{{description}}</p>
      </div>
      <hr class="divider">
    <br>
    <br>
  {{/each}}
</div>