<h1>New Post</h1>
  <form action="/gallery" method="post">
    <label for="author">Author</label>
    <br>
    <input name="author" type="text">
    <br>
    <br>
    <label for="link">Photo</label>
    <br>
    <input name="link" type="text">
    <br>
    <br>
    <label for="description">Caption your photo</label>
    <br>
    <input name="description" type="text">
    <br>
    <br>
    <button type="submit">Post!</button>
  </form>
  <form action="/gallery" method="get">
    <br>
    <button type="submit">Cancel</button>
  </form>