body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #222;
}
#header {
  position: fixed;
  z-index: 99;
  height: 15vh;
  width: 100vw;
  background-color: #f9f9f9;
}
#honua {
  position: fixed;
  top: 1vh;
  left: 38vw;
  height: 13vh;
}
#honua-id {
  position: fixed;
  top: 5vh;
  left: 3.5vw;
  width: 17.5vw;
}
#new-btn {
  height: 5vh;
  position: fixed;
  top: 4.75vh;
  right: 11.5vw;
}
.edit-btn {
  height: 4.5vh;
  position: fixed;
  top: 3vw;
  right: 7vw;
}
#container {
  width: 50vw;
  position: absolute;
  top: 17.5vh;
  left: 25vw;
  margin: 0 auto;
}
.image {
  width: 50vw;
  border-radius: 5px;
}
.image-id {
  position: absolute;
  left: 25vw;
  top: 5vh;
  width: 66vw;
  max-height: 90vh;
  border-radius: 5px;
}
.info {
  color: #222;
  display: flex;
  margin-bottom: -5vh;
  align-items: center;
}
.info-id {
  width: 16.75vw;
  color: #222;
  display: flex;
  margin-bottom: -5vh;
  align-items: center;
}
.by {
  position: relative;
  left: 5vw;
  color: #64E5A9;
}
.descrip {
  position: relative;
  max-width: 32.5vw;
  word-wrap: break-word;
  left: 10vw;
  color: #4FADC3;
  font-size: 14px;
}
.by-id {
  position: fixed;
  left: 3.6vw;
  top: 27.5vh;
  color: #64E5A9;
}
.descrip-id {
  height: 50%;
  max-width: 17.5vw;
  word-wrap: break-word;
  position: fixed;
  left: 3.6vw;
  top: 31vh;
  color: #4FADC3;
  font-size: 14px;
}
.divider {
  width: 50vw;
  position: relative;
  top: 4.5vh;
  margin: 10px auto;
  border-top: 1px solid #333;
  border-bottom: 1px solid #444;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.pic-edit {
  width: 55vw;
  position: absolute;
  top: 15vh;
  right: 15vh;
  border-radius: 5px;
}
.label-a {
  position: absolute;
  top: 26vh;
  left: 15.5vw;
  color: #4FADC3;
  font-weight: 500;
}
.label-l {
  position: absolute;
  top: 41vh;
  left: 14.75vw;
  color: #4FADC3;
  font-weight: 500;
}
.label-d {
  position: absolute;
  top: 56vh;
  left: 15vw;
  color: #4FADC3;
  font-weight: 500;
}
.input-a {
  position: absolute;
  top: 30vh;
  left: 13.75vw;
}
.input-l {
  position: absolute;
  top: 45vh;
  left: 13.75vw;
}
.input-d {
  position: absolute;
  top: 60vh;
  left: 13.75vw;
}
.updt {
  position: absolute;
  top: 70vh;
  left: 14vw;
}
.dlt {
  position: absolute;
  top: 75vh;
  left: 15.75vw;
}
.cncl {
  position: absolute;
  top: 70vh;
  left: 19.5vw;
}
#edit {
  position: absolute;
  left: 13.75vw;
  top: 15vh;
  color: #64E5A9;
}